/* variables */
:root {
  --primary-color: #4f4f50;
  --secondary-color: #f5da93;
  --tertiary-color: #fbb673;
  --bg-color: #fffefc;
  --font-size-h2: 3em;
  --font-size-h3: 1.75em;
  --font-size-p: 1.1em;
}

/* fonts */
@font-face {
    font-family: Ageo;
    font-weight: 400;
    src: url("fonts/Ageo.otf") format("opentype");
}

@font-face {
    font-family: Ageo;
    font-weight: 700;
    src: url("fonts/Ageo-Bold.otf") format("opentype");
}

@font-face {
    font-family: Helvetica;
    font-weight: 400;
    src: url("fonts/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: Helvetica;
    font-weight: 700;
    src: url("fonts/Helvetica-Bold.otf") format("opentype");
}

/* set margin & padding to default */
body, nav ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

h1, h2, h3, nav a {
  font-family: Ageo, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}

p {
  font-family: Ageo, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-p);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: #0ba5cb;
  font-weight: 700;
}

nav {
  background-color: var(--secondary-color);
  padding-bottom: 10em;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 2em 2em 0 2em;
}

nav a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--bg-color);
  /* cursor: url(images/cursor.png), auto; set resolution to: 32x32 */
}

body > svg:first-of-type {
  position: absolute;
  margin: -6em 21em;
  width: 15em;
  fill: var(--bg-color);
}

img[src$=".png"] {
  display: flex;
  width: 42em;
  margin: -37.5em auto 15em auto;
}

img[src$=".gif"] {
  display: flex;
  width: 85em;
  margin: -48em auto 4.25em auto;
}

article {
  max-width: 80em;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 1em 0 0.25em 0;
  font-size: 4em;
}

article > p {
  max-width: 40em;
  margin: 0 auto 7.5em auto;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.4em;
}

section {
  margin: 20em 0;
}

section h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 1em;
}

section h3 {
  font-size: var(--font-size-h3);
  margin-bottom: 0.25em;
}

section:first-of-type {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

section:first-of-type div {
  max-width: 25em;
  margin: auto 0;
}

section:first-of-type p:first-of-type {
  margin-bottom: 3em;
}

section:first-of-type h2:before {
  content: "1";
  display: flex;
  position: absolute;
  margin: -0.65em -0.31em;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  color: #fdf1e1;
  z-index: -1;
}

#heatmap svg path {
  stroke: #3f3f3f;
}

#heatmap svg > g > path {
/*   fill: #dcd1bf; */
  fill: aqua;
  stroke-width: .1em;
} 

#buurten path {
  fill: #dcd1bf;
  stroke-width: 0.05em;
}

section:nth-of-type(2) h2 {
  margin: 0 0 0.5em 1.5em;
}

section:nth-of-type(2) h2:before {
  content: "2";
  display: flex;
  position: absolute;
  margin: -0.65em -0.4em;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  color: #fdf1e1;
  z-index: -1;
}

#comparison-chart svg g > g:first-of-type > text {
  font-family: Ageo, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

#comparison-chart svg g > g:nth-of-type(2) g text {
  font-family: Ageo, sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

#comparison-chart svg g > g:first-of-type g text {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

#comparison-chart svg g > g:last-of-type g text {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  width: 1em;
}